@media screen and (max-width:991px) {
  .title-size{
    font-size:1.8rem !important;
    top:-1.625rem !important;
  }
}

@media screen and (max-width:767px){
  .title-size{
    font-size:1.6rem !important;
    top:-1.425rem !important;
  }
}

@media screen and (max-width:450px){
  .title-size{
    font-size:1.4rem !important;
    top:-1.325rem !important;
  }
}